.App{
    width: 240px;
    margin: auto;
    background-color: brown;
}

.expression-input{
    width: 100%;
    height: 30px;
    background-color: #ffffff;
}

.resultat-input{
    width: 100%;
    height: 20px;
    background-color: #ffffff;
}
